*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
}

 
    
  


   

.box{
    border: 1px solid;
   
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
h1{
    text-align: center;
    color: brown;
    margin-top: 30px;
}
label{
    color: crimson;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
input{
    width: 80%;
    padding: 8px;
    height: 35px;
    margin-left: 50px;
    
}
button{
    padding: 12px;
    width: 180px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 150px;
}
#tabla{
    border: 1px solid;
    display: flex;
    width: 500px;
    height: 450px;
   

    
}
#respuesta{
    border: 1px solid;
    width: 50%;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#nombres{
    border: 1px solid;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.buscar{
    height: 50px;
}

